.order__total-price {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000;
}

.order__total-price::after {
  margin-left: 3px;
  content: "сом";
  font-size: 20px;
  line-height: 28px;
}
