.basket__cost {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media screen and (max-width: 1020px) {
  .basket__cost {
    justify-content: flex-start;
    max-width: 63px;
  }
}
