.header__nav-element {
  max-width: 170px;
  width: 100%;
  height: 56px;
  margin-top: 16px;
  margin-left: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 596px) {
  .header__nav-element {
    max-width: 250px;
    margin-top: 14px;
    align-items: flex-start;
    margin-left: 0;
  }
}
