.content {
  width: calc(100% -48px);
  display: flex;
  align-items: flex-start;
  margin-left: 24px;
  margin-right: 24px;
}

@media screen and (max-width: 320px) {
  .content {
    flex-direction: column;
  }
}
