.header__nav-btn {
  max-width: 28px;
  width: 100%;
  min-height: 24px;
  background-color: transparent;
  background-image: url("../../../src/images/Vector\ \(1\).svg");
  background-repeat: no-repeat;
  align-self: center;
}
