.header__nav-btn {
  max-width: 28px;
  width: 100%;
  min-height: 24px;
  background-image: url("../../../src/images/header-nav-btn.svg");
  align-self: center;
}

@media (max-width: 596px) {
  .header__nav-btn {
    background-image: url("../../../src/images/header__nav-btn-mobile.svg");
    align-self: flex-start;
  }
}
