.form__input {
  height: 25px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 7px;
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~ .form__label {
  transform: translateY(-20px) translateX(0px);
  font-size: 13px;
  line-height: 16px;
}
