.in-stock__price-old {
  max-width: 55px;
  width: 100%;
  min-height: 17px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #9797af;
  text-decoration: line-through;
  border-bottom: 1px dashed #9797af;
}
