.order__delivery-address {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000;
  display: flex;
  flex-direction: column;
}

.order__delivery-address::after {
  content: "5–8 фев";
  color: #cb11ab;
}
