.basket__box {
  max-width: 106px;
  height: 96px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  margin-right: 16px;
}

@media screen and (max-width: 1020px) {
  .basket__box {
    position: relative;
    height: 106px;
    float: left;
  }
}
