.cost-shipping_type_order {
  margin: 11px 0 3px;
  background-color: #f6f6fa;
  border-radius: 8px;
  padding: 8px 8px 12px;
  display: block;
}

.cost-shipping_type_order::before {
  height: 30px;
}
