.header__search-icon {
  position: absolute;
  top: 34px;
  right: 23px;
}

@media screen and (max-width: 596px) {
  .header__search-icon {
    position: static;
    margin-top: 18px;
    margin-left: 3px;
  }
}
