.cost-shipping {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000;
  display: flex;
  align-items: center;
}

.cost-shipping::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 8px;
  background-image: url(../../src/images/price-shipping-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  float: left;
}

.cost-shipping::after {
  content: "бесплатно";
  color: #0cb477;
  border-bottom: 1px dashed rgba(12, 180, 119, 0.2);
}
