.checkbox_invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.checkbox_invisible:checked + .checkbox_visible {
  background: #cb11ab;
  background-image: url(../../../src/images/checkbox-active.svg);
  background-repeat: no-repeat;
  background-position: center;
}
