.section-delivery__photo {
  position: relative;
}

.section-delivery__photo::after {
  content: "";
  position: absolute;
  max-width: 16px;
  width: 100%;
  min-height: 16px;
  background-color: #f55123;
  top: -8px;
  right: -8px;
}
